<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <img src="../../assets/imgs/burguer-image.png" alt="Foto Hambúrguer">
    <div class="botoes">
        <a routerLink="/pedido"><app-botao cor="var(--color-red)" corFonte="var(--color-white)" valor="FAZER PEDIDO"></app-botao></a>
        <a routerLink="/cardapio"><app-botao cor="var(--color-white)" corFonte="var(--color-brown)" valor="ACESSAR CARDÁPIO"></app-botao></a>
    </div>
</body>
</html>