* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 55em;
    margin: 0em auto;
}

.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em auto 0em auto;
}

@media screen and (max-width: 1200px) {
    img{
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .botoes{
        display: flex;
        height: 10em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    /*app-botao{
        margin: 0.5em 0em;
    }
 
    .botoes{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
}