<div class="produto">
    <h1>Detalhes</h1>
    <div class="produto_info">
        <div class="produto_img_preco">
            <img src="../../../assets/imgs/hamburguer.png">
            <p class="produto_img_preco_nome">{{ hamburguer }}</p>
            <p>Pão, Habúrguer, alface, tomate, queijo e maionese</p>
            <p class="produto_img_preco_nome">R$ 35,00</p>
        </div>
        <div class="produto_descricao">
            <div class="form_produto_info">
                <p class="form_produto_info_title">Descrição</p>
                <p>Um hambúrguer vegano suculento feito com uma base de grão-de-bico e quinoa, temperado com especiarias defumadas, cebola caramelizada e alho, garantindo uma textura rica e saborosa. Servido em um pão macio, ele vem acompanhado de fatias frescas de tomate, alface crocante, picles, abacate cremoso e uma generosa camada de maionese de ervas vegana. Finalizado com molho barbecue agridoce e uma pitada de pimenta-do-reino moída na hora, proporcionando uma combinação deliciosa de sabores e texturas em cada mordida.</p>
            </div>
        </div>
    </div>
    <a routerLink="/pedido"><app-botao class="botao" corFonte="var(--color-white)" cor="var(--color-red)" valor="PEDIR"></app-botao></a>
</div>