<div class="produto">
    <h1>Detalhes</h1>
    <div *ngIf="produto" class="produto_info">
        <div class="produto_img_preco">
            <img [src]="produto.path_Image_Product || 'assets/no-image.jpg'" alt="{{ produto.name_Product }}">
            <p class="produto_img_preco_nome">{{ produto.name_Product }}</p>
            <p></p>
            <p class="produto_img_preco_nome">R${{ produto.price_Product }}</p>
        </div>
        <div class="produto_descricao">
            <div class="form_produto_info">
                <p class="form_produto_info_title">Descrição</p>
                <p>{{ produto.full_Description_Product }}</p>
            </div>
        </div>
    </div>
    <a routerLink="/pedido"><app-botao class="botao" corFonte="var(--color-white)" cor="var(--color-red)" valor="PEDIR"></app-botao></a>
</div>