* {
    padding: 0em 2em;
    margin: 0;
}

:root {
    --color-white: #FFFFFF;
    --color-red: #ED0000;
    --color-brown: #521D16;
    --fonte-principal: sans-serif, 'Arial';
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
