<div class="pedido">
    <div class="title_pedido">
        <h1>Pedido</h1>
    </div>
    <form class="form_div" [formGroup]="pedidoForm" (ngSubmit)="submitOrder()">
        <!-- Informações do Usuário -->
        <div class="user_data">
            <div class="div_data">
                <label>Nome:</label>
                <input formControlName="userName" placeholder="Digite seu nome" required />
            </div>
            <div class="div_data">
                <label>Email:</label>
                <input formControlName="userEmail" placeholder="Digite seu email" required />
            </div>
        </div>

        <!-- Produtos -->
        <div class="products" formArrayName="products">
            <div *ngFor="let product of products.controls; let i = index" [formGroupName]="i" class="pedido_card_info">
                <div class="div_data">
                    <label>Produto:</label>
                    <!-- <input formControlName="productName" placeholder="Nome do Produto" /> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Escreva aqui</mat-label>
                        <input
                            matInput
                            [matAutocomplete]="auto"
                            formControlName="productName"
                            (input)="filterProducts($event)"
                            />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let product of filteredProducts" [value]="product.name_Product">
                            {{ product.name_Product }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <label>Quantidade:</label>
                    <input type="number" formControlName="quantity" (input)="updateTotalPrice(i)" placeholder="0"/>
                </div>

                <div class="div_data">
                    <label>Preço Unitário:</label>
                    <input type="number" formControlName="unitPrice" readonly />
            
                    <label>Preço Total:</label>
                    <input type="number" formControlName="totalPrice" readonly />
                </div>
            </div>
            <app-botao cor="var(--color-red)" corFonte="var(--color-white)" valor="ADICIONAR PRODUTO" (click)="addProduct()"></app-botao>
        </div>
        
        <div>
            
        </div>

        <!-- Total -->
        <div class="total_price">
            <label>Preço Total do Pedido:</label>
            <input [value]="totalPrice" readonly />
        </div>

        <!-- Botões -->
        <button type="submit">Enviar Pedido</button>
    </form>
</div>