<div class="pedido">
    <div class="title_pedido">
        <h1>Pedido</h1>
    </div>
    <div class="form_div">
        <div class="pedido_card_info">
            <div class="pedido_info">
                <label>Produto</label>
                <input class="pedido_info_text" type="text" placeholder="Produto">
            </div>
            <div class="pedido_info">
                <label class="pedido_info_number_label">Quantidade</label>
                <input class="pedido_info_number" type="number" placeholder="0">
            </div>
        </div>
        <div class="pedido_card_info">
            <div class="pedido_info">
                <label>Produto</label>
                <input class="pedido_info_text" type="text" placeholder="Produto">
            </div>
            <div class="pedido_info">
                <label class="pedido_info_number_label">Quantidade</label>
                <input class="pedido_info_number" type="number" placeholder="0">
            </div>
        </div>
        <div class="obs_textarea">
            <label>Observação</label>
            <textarea class="textarea" placeholder="Tire a maionese, sem picles, quero talher..."></textarea>
        </div>
    </div>
</div>