* {
    margin: 0;
    padding: 0;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fonte-principal);
    font-size: 3em;
    color: var(--color-red);
}

a {
    text-decoration: none;
    color: black;
}

.cardapio{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-direction: row;
}

.border{
    border: 2px solid red;
}

@media screen and (max-width: 1200px) {
    img{
        width: 90%;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}