* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    color: var(--color-brown);
    font-size: 1.15em;
    font-weight: bold;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2.5em; /* Ajuste para o tamanho da logo */
}

.select_box{
    display: none;
}

.nav_links {
    display: flex;
    gap: 1em; /* Espaçamento entre os links */
}

nav a {
    text-decoration: none;
    color: var(--color-brown); /* Cor padrão */
    transition: color 0.3s ease; /* Efeito suave ao passar o mouse */
}

nav a:hover {
    color: var(--color-red); /* Cor ao passar o mouse */
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: 100%;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 5em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 0.3em 0.3em;
    text-decoration: none;
    color: var(--color-brown);
    font-size: 0.7em;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1200px) {
    header {
        width: 100%;
    }

    .nav_links {
        display: none;
    }

    .nav_links_box {
        display: flex;
    }

    .select_box{
        display: initial;
        padding: 0.2em;
        appearance: none; /* Remove o estilo padrão */
        background-color: var(--color-white);
        border: 2px solid #888;
        border-radius: 0.5em;
        font-size: 1em;
        cursor: pointer;
        width: 7em;
    }
}