<header class="app-header">
  <div class="logo">
      <img src="assets/imgs/logo.png" alt="Logo Burger Mania">
  </div>
  <nav class="nav_links">
      <a routerLink="/">Início</a>
      <!-- <a routerLink="/categoria" class="menu-item">Categoria</a> -->
      <div class="dropdown">
        <button class="dropdown-btn">Categoria</button>
        <div class="dropdown-content">
          <div *ngFor="let categoria of categorias">
            <a [routerLink]="['/categoria', categoria]">{{ categoria }}</a>
          </div>
        </div>
      </div>
      <a routerLink="/cardapio">Cardápio</a>
      <a routerLink="/localizacao">Localização</a>
      <a routerLink="/contato">Contato</a>
  </nav>
  <nav class="nav_links_box">
    <select class="select_box" id="cars" name="cars">
      <option><a routerLink="/">Início</a></option>
      <option><a routerLink="/cardapio">Cardápio</a></option>
      <option><a routerLink="/localizacao">Localização</a></option>
      <option><a routerLink="/contato">Contato</a></option>
    </select>
  </nav>
</header>